@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 375px;
    width:100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #293845;
    display: flex;
    justify-content: center;
}

.movie-overview {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.movie-overview img {
    max-width: 100%;
    margin-left: 40px;
}

.selected{
    background:#8DD7CF;
}

.available{
    background:#C3CFD9;
}

.unavailable{
    background: #FBE192;
}